<%- include("templates/heading")%>
<link rel="stylesheet" href="/css/menu_user.css">

<input type="checkbox" id="btn-menu">
          <div class="container-menu">
            <div class="cont-menu">
              <nav>
                <h2 style="color: white;"><img src="/img/logook.png" alt="img perfil" style="height: 50px; width: 50px;">Usuario</h2>
                <a href="/user"><h2>Perfil</h2></a>
                <a href="/puntos"><h2>PuntosQro</h2></a>
              </nav>
              <label for="btn-menu">✖️</label>
            </div>  
          </div>
<br><br><br>
          <div class="container text-center mt-4">
            <h1>Emergencia</h1>
          </div>
<br><br><br>
          <div class="emergency-buttons">
            <a href="/policia" class="btn btn-emergency btn-lg btn-block mb-3">Policía <i class="bi bi-shield-fill-check"></i></a>
            <br><br><br>
            <a href="/ambulancia" class="btn btn-emergency btn-lg btn-block">Ambulancia <i class="bi bi-plus-circle-fill"></i></a>
            <br><br><br>
        </div>
        <br><br><br><br><br><br>
          <div class="text-center content_general">
            <div class="projects__grid text-center">
              <article class="projects__item1">
                <div class="menu">
                  <section class="projects__grid3">
                    <div class="item_menu btn-menu">
                      <label for="btn-menu"><i class="bi bi-person-fill"></i> Usuario</label>
                    </div>
                    <a class="item_menu" href="/home"><i class="bi bi-house-fill"></i> Inicio</a>
                    <a class="item_menu" href="/routes_bus"><i class="bi bi-map-fill"></i> Rutas</a>
                    <a class="item_menu" href="/reporte"><i class="bi bi-map-fill"></i> Quejas</a>
                  </section>
                  <br>
                  <br>
                </div>
              </article>
            </div>
        </div>