<%- include("templates/heading")%>
    <link rel="stylesheet" href="/css/reporte.css" />
  </head>
  <body>
    <!-- For more settings use the AutoHTML plugin tab ... -->
<div class="reportes" >
    <svg class="rectangle-28" width="345" height="796" viewBox="0 0 345 796" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.5 50C0.5 22.6619 22.6619 0.5 50 0.5H295C322.338 0.5 344.5 22.6619 344.5 50V746C344.5 773.338 322.338 795.5 295 795.5H50C22.6619 795.5 0.5 773.338 0.5 746V50Z" fill="white" fill-opacity="0.2" stroke="#2C56EA"/>
    </svg>
    <img class="reportes-1" src="/img/reportes-1.png" />
    <img class="terms-and-conditions" src="/img/terms-and-conditions.png" />
    <img class="medium-risk" src="/img/medium-risk.png" />
    <div class="haz-tu-reporte-aqu" >
    Haz tu reporte aquí. </div>
    <div class="lee-el-qr-del-autob-s" >
    Lee el QR del autobús. </div>
    <img class="image-1" src="/img/image-1.png" />
    <div class="presiona-aqui-para-leer-o-colocar-el-qr" >
    Presiona aqui para leer o colocar el QR. </div>
    <div class="rectangle-36" >
    </div>
    <img class="image-2" src="/img/image-2.png" />
    <img class="multiply" src="/img/multiply.png" />
    <div class="no-puedes-escanear" >
    ¿No puedes escanear? </div>
    <div class="presiona-aqui-para-crear-un-reporte-o-sugerencia-del-servicio-o-aplicaci-n" >
    Presiona aqui para crear un reporte o sugerencia del servicio o aplicación. </div>
    <div class="redirect-button">
        <a href="/home">Regresar</a>
    </div>
</div>
