<%- include("templates/heading")%>
<link rel="stylesheet" href="/css/menu_user.css">


<input type="checkbox" id="btn-menu">
          <div class="container-menu">
            <div class="cont-menu">
              <nav>
                <h2 style="color: white;"><img src="/img/logook.png" alt="img perfil" style="height: 50px; width: 50px;">Usuario</h2>
                <a href="/user"><h2>Perfil</h2></a>
                <a href="#"><h2>PuntosQro</h2></a>
                <a href="#"><h2>Ayuda</h2></a>
              </nav>
              <label for="btn-menu">✖️</label>
            </div>  
          </div>



<div class="container text-center mt-4">
    <h1>Rutas</h1>
  </div>
  
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <input id="search" class="form-control mb-3" type="text" placeholder="Buscar ruta de autobús">
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <ul id="routeList" class="list-group"></ul>
      </div>
    </div>
  </div>
  
  <div class="container mt-4">
    <h3 class="text-center">Rutas Disponibles:</h3>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <ul id="allRoutesList" class="list-group">
          <!-- Aquí se mostrarán todas las rutas disponibles -->
        </ul>
      </div>
    </div>
  </div>

<script src="/js/rutas.js" defer></script>

<style>
  /* Estilos generales para la página */
  body {
    font-family: Arial, sans-serif;
  }

  h1, h3 {
    text-align: center;
    margin-top: 20px;
  }

  /* Estilos para móvil */
  @media (max-width: 576px) {
    .container {
      padding: 0 15px;
    }

    .col-md-8 {
      max-width: 100%;
      padding: 0;
    }

    #search {
      font-size: 18px;
      padding: 10px 15px;
    }

    .list-group-item {
      font-size: 16px;
      padding: 15px 20px;
    }
  }
</style>

<br>
<div class="text-center content_general">
    <div class="projects__grid text-center">
      <article class="projects__item1">
        <div class="menu">
          <section class="projects__grid2">
            <div class="item_menu btn-menu">
              <label for="btn-menu"><i class="bi bi-person-fill"></i> Usuario</label>
            </div>
            <a class="item_menu" href="/home"><i class="bi bi-house-fill"></i> Inicio</a>
            <a class="item_menu" href="/routes_bus"><i class="bi bi-map-fill"></i> Rutas</a>
            <a class="item_menu" href="/reporte"><i class="bi bi-map-fill"></i> Quejas</a>
          </section>
          <br>
          <br>
        </div>
      </article>
    </div>
</div>