<!DOCTYPE html>
<html lang="es">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../img/logook.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/menu.css">  
<title>QroMovil</title>

<head>

  <link rel="stylesheet" href="/css/loader.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q1HP7K8E3H"></script>
    <script>
      window.addEventListener('load', function () {
          var loader = document.getElementById('loader');
          var content = document.getElementById('content');
          loader.style.display = 'none';
          content.style.display = 'block'; // Show the content
      });
  </script>

</head>

<body>
  <div id="loader" class="loader">
      <img src="/img/logoCom_1.png" alt="Cargador " >
  </div>
  <div id="content">
      
  </div>
</body>